#topNavBar0
{
     margin:0;
     padding:0;
     height:2.25em;
	color: white;	
     list-style:none;
     margin-top:0.25em;          
}

#topNavBar0 li {
	
	display: block;
	position: relative;
	float:left;	
}

#topNavBar0 li a {
	text-decoration: none;
	padding: 0.5em 1em;
	color: white;
	border-right: solid 1px #51B948;
     border-left: solid 1px #51B948;
}

#topNavBar0 li a:link {
	color: white;
}

#topNavBar0 li a:visited {
	color: white;
}


#topNavBar0 li a:hover {
	text-decoration: none;
	border-bottom: solid 10px #51B948;		
}

#topNavBar0 li ul { display: none; }

#topNavBar0 li ul li{ margin: 0; }

#topNavBar0 li ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	border-left:none;
	padding: 5px 15px 5px 15px;
	background: #0079C2;
	margin-left: -40px;
	white-space: nowrap;
	
}


#topNavBar0 li:hover ul {
	display: block;
	position: absolute;
	margin-top: 5px;	
	border-bottom: 0;		
}

#topNavBar0 li:hover li {
	float:none;
	width: 10em;
}


#topNavBar0 li:hover li a:hover { background: #51B948; }





#topNavBar1
{
     margin:0;
     height:2.5em;
	width:100%;	
	text-align:left;	
	font-size: small;
	color: white;
	padding-top:0.75em;
}

#topNavBar1 li {
	list-style-type: none;
	display: inline;
}

#topNavBar1 li a {
	text-decoration: none;
	padding: 0.5em 1em;
	color: white;
}

#topNavBar1 li a:link {
	color: white;
}

#topNavBar1 li a:visited {
	color: white;
}


#topNavBar1 li a:hover {
	text-decoration: underline;	
}




#middleNavBar1
{
     margin:0;
     padding:0;
     height:2.5em;
	color: white;	
     list-style:none;
     margin-top:0.25em;          
}

#middleNavBar1 li {
	
	display: block;
	position: relative;
	float:left;	
}

#middleNavBar1 li a {
	text-decoration: none;
	padding: 0.5em 1em;
	color: white;
	border-right: solid 2px #51B948;
}

#middleNavBar1 li a:link {
	color: white;
}

#middleNavBar1 li a:visited {
	color: white;
}


#middleNavBar1 li a:hover {
	text-decoration: none;
	background-color: #51B948;
	
}

#middleNavBar1 li ul { display: none; }

#middleNavBar1 li ul li{ margin: 0; }

#middleNavBar1 li ul li a {
	display: block;
	text-decoration: none;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	border-left:none;
	padding: 5px 15px 5px 15px;
	background: #0079C2;
	margin-left: -40px;
	white-space: nowrap;
	
}



#middleNavBar1 li:hover ul {
	display: block;
	position: absolute;
	margin-top: 5px;	
}

#middleNavBar1 li:hover li {
	float:none;
	width: 10em;
}


#middleNavBar1 li:hover li a:hover { background: #51B948; }




#navbarfooter 
{
     margin:0;
     height:2.5em;
	width:100%;	
	text-align:center;	
	font-size: small;
	color: white;
	padding-top:1.75em;
}

#navbarfooter li {
	list-style-type: none;
	display: inline;
}
#navbarfooter li a {
	text-decoration: none;
	padding: 0.5em 1em;
	color: white;
}
#navbarfooter li a:link {
	color: white;
}
#navbarfooter li a:visited {
	color: white;
}


#navbarfooter li a:hover {
     text-decoration:underline;
}
