<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
     <appSettings>
          <add key="IsSecure" value="false" />
          <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/temp/;"/>
     </appSettings>
	
     <system.webServer>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<security>
		<authentication>
			<basicAuthentication enabled="false" />
		</authentication>
		</security>
	</system.webServer>
	
	<connectionStrings>          
          <add name="ConnString" connectionString="Data Source=tcp:sql2k805.discountasp.net;Initial Catalog=SQL2008R2_849605_testdocket;User ID=SQL2008R2_849605_testdocket_user;Password=r0Vkzwdw;" providerName="System.Data.SqlClient"/>          
     </connectionStrings>
	
     
     <system.net>
		<mailSettings>
               <smtp>
                    <network host="localhost" port="25"/>
               </smtp>			
		</mailSettings>
	</system.net>
     
	<system.web>
		<!--Set the locale for Australia for datetimes etc.-->
		<globalization uiCulture="en" culture="en-AU"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" timeout="60" defaultUrl="/manage/SelectCompany.aspx"/>
		</authentication>
		<machineKey validationKey="95FC4A5BA16C69A5BAF6B10A2EBCF88C1B8C77B5DA77D0653F86594CF71ABB2CD627DAAF08568462721B55E939B2966ED7D631E57B9E32DF1A15E599DF0C39FE" decryptionKey="203C8644E31C908F57DF5BE7D9FFE6225EE0BDFDB6E47BC9E1291CD838DCDFE7" validation="SHA1" decryption="AES"/>
		<sessionState timeout="60"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
	</system.web>




  <system.serviceModel>
    
    <behaviors>    
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<serviceHostingEnvironment aspNetCompatibilityEnabled="true"   multipleSiteBindingsEnabled="true" />
	  <standardEndpoints>
		  <webHttpEndpoint>
			  <standardEndpoint name="" helpEnabled="true"  maxReceivedMessageSize="65536000"/>
		  </webHttpEndpoint>
	</standardEndpoints>


    <bindings>
      <basicHttpBinding>
        <binding name="AccountServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
          <binding name="InboxServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
   
        <binding name="SendServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
       
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.esendex.com/secure/messenger/soap/AccountService.asmx"
        binding="basicHttpBinding" bindingConfiguration="AccountServiceSoap"
        contract="EsendexAccount.AccountServiceSoap" name="AccountServiceSoap" />
      <endpoint address="https://www.esendex.com/secure/messenger/soap/InboxService.asmx"
        binding="basicHttpBinding" bindingConfiguration="InboxServiceSoap"
        contract="EsendexInbox.InboxServiceSoap" name="InboxServiceSoap" />
      <endpoint address="https://www.esendex.com/secure/messenger/soap/sendservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="SendServiceSoap"
        contract="EsendexSend.SendServiceSoap" name="SendServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
